<!-- <ion-button color="danger" (click)="authService.SignOut()" class="text-right">
  Salir
 </ion-button> -->
<ion-content>
  <app-menu>

  </app-menu>
   <div  (click)="addPhotoToGallery1()">
    <!-- <div class="text-center">
      
      <img src="../../../assets/like.png">
      <h5 >Fotos lindas</h5>
     </div> -->

     <div class="text-center">
      <h5 >Fotos lindas</h5>
      <button class="btn btn-default border border-5 border-dark bg-danger p-3 margin-left" >
        <img src="../../../assets/like.png" width="270" height="320"/> 
    </button>
    
     </div>
  </div>
  
    <div (click)="addPhotoToGallery()">
      <!-- <div class="text-center">
        
        <img src="../../../assets/broken.png">
        <h5 >Fotos feas</h5>
      </div> -->
      <div class="text-center">
        <h5 >Fotos feas</h5>
        <button class="btn btn-default border border-5 border-dark bg-info p-3 margin-left" >
          <img src="../../../assets/broken.png" width="270" height="320"/> 
      </button>
   
       </div>
  </div>
</ion-content>