ion-content{
    --background:#E5D380;
}

@font-face{
    font-family: 'Koulen';
    src:url('../../../assets/Koulen-Regular.ttf')
}

h5, ion-item, ion-label, span, ion-button, ion-input, ion-note, div{
    font-family: 'Koulen';
  }