
<ion-content>
  <br>

  <div class="ion-text-center tracking-in-expand-fwd">
    <img src="../../../assets/daniela.png">
  </div>

  
  <!-- <label class="text-animated ionic-text-center">DANIELA MORENO</label> -->
  <div class="bounce-in-top ion-text-center">
    <img src="../../../assets/icon.png" style="height: 65%;width: 65%;">
  </div>
  <div class="ion-text-center tracking-in-contract-bck">
    <!-- <ion-label>4 A</ion-label> -->
    <img src="../../../assets/4a.png">
  </div>
</ion-content>
