ion-content{
    --background:#E5D380;
}
.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ion-spinner {
    width: 28px;
    height: 28px;
    stroke: rgb(20, 170, 35);
    fill: rgb(186, 30, 155);
  }

  .img-loaded + ion-spinner {
    display:none;
  }

  @font-face{
    font-family: 'Koulen';
    src:url('../../../assets/Koulen-Regular.ttf')
}

h5, ion-item, ion-label, span, ion-button, ion-input, ion-note, div, ion-card-subtitle{
    font-family: 'Koulen';
  }

  
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
