<ion-accordion-group style="background-color:#E5D380;">
  <ion-accordion value="menu">
    <ion-item slot="header">
      <ion-label  class="text-center">Menu</ion-label>
    </ion-item>

    <ion-list slot="content">
     
      <ion-item (click)="cosasLindas()">
        <ion-label class="text-center" >Sacar foto linda</ion-label>
      </ion-item>
      <ion-item (click)="cosasFeas()">
        <ion-label  class="text-center">Sacar foto fea</ion-label>
      </ion-item>
      <ion-item (click)="misFotos()">
        <ion-label  class="text-center">Mis fotos</ion-label>
      </ion-item>
      <ion-item (click)="listado()">
        <ion-label  class="text-center">Todas las fotos</ion-label>
      </ion-item>
      <ion-item color="danger" (click)="authService.SignOut()" >
        <ion-label  class="text-center">Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>