ion-content{
    --background:#E5D380;
}

ion-accordion-group{
    ion-accordion {
        .ion-item {
            font-size: 50px;
            background-color: red;
        }
    }
}

@font-face{
    font-family: 'Koulen';
    src:url('../../../assets/Koulen-Regular.ttf')
}

h5, ion-item, ion-label, span, ion-button, ion-input, ion-note, div, ion-accordion-group{
    font-family: 'Koulen';
  }