<ion-accordion-group style="background-color:#E5D380;">
  <ion-accordion value="menu">
    <ion-item slot="header">
      <ion-label  class="text-center">Menu</ion-label>
    </ion-item>

    <ion-list slot="content">
     
      <ion-item (click)="cosasLindas()">
        <ion-label class="text-center" >Fotos lindas</ion-label>
      </ion-item>
      <ion-item (click)="cosasFeas()">
        <ion-label  class="text-center">Fotos feas</ion-label>
      </ion-item>
      <ion-item (click)="misFotos()">
        <ion-label  class="text-center">Mis fotos Subidas</ion-label>
      </ion-item>
      <ion-item (click)="graficoLindas()">
        <ion-label  class="text-center">Gráfico Lindas</ion-label>
      </ion-item>
      <ion-item (click)="graficoFeas()">
        <ion-label  class="text-center">Gráfico Feas</ion-label>
      </ion-item>
      <ion-item color="danger" (click)="authService.SignOut()" >
        <ion-label  class="text-center">Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>